# Configuración de la API
# Para celular físico con Expo Go: usa tu IPv4 (ipconfig en PowerShell)
# Ejemplo: REACT_APP_API_URL=http://192.168.1.50:3000/api

# Para emulador Android: usa esta dirección
# REACT_APP_API_URL=http://10.0.2.2:3000/api

# Para pruebas en la misma PC:
# REACT_APP_API_URL=http://localhost:3000/api

REACT_APP_API_URL=http://192.168.1.10:3000/api
